<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyAProduct</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Buy a Product", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" style="display: inline-table;" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control pull-right" style="width: 200px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="reset" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove">
                                            <span class="sr-only">Close</span>
                                        </span>
                                    </button>
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search">
                                            <span class="sr-only">Search</span>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user">
                                </span> Hi, @User.Identity.Name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (User.Identity.Name != "admin@store.com")
                                {
                                    <li><a href="@Url.Action("Edit", "Account", new {@email = User.Identity.Name})"><span class="glyphicon glyphicon-edit"></span> Edit Account</a></li>
                                    <li><a href="@Url.Action("Index","Cart")"><span class="glyphicon glyphicon-shopping-cart"></span> View Shopping Cart</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-folder-close"></span> View Orders</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Edit", "Product")"><span class="glyphicon glyphicon-plus"></span> Add Product</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
